{% extends 'base.html' %}
{% block content %}
<div class="container" style="margin-top:150px;">
{% if message %}
    {{ message }}
{% endif %}
  <form method="get">
    <label for="question">Question:</label><br>
    <input type="text" id="question" name="question"><br>
    <label for="lname">Context:</label><br>
    <input type="text" id="context" name="context">
    <input type="submit" value="Submit">
  </form>

</div>

{% endblock %}

{% block extrajs %}
<script>
function hi(){
  console.log('hi');
}

</script>

{% endblock %}
